body {
  background-color: #ffffff;
}

.horizontalTimeline {
  margin: 50px 0 50px 0;
  counter-reset: step;
}
.horizontalTimeline li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  color: #adacac;
}

.horizontalTimeline li:before {
  width: 15px;
  height: 15px;
  content: "";
  border: 2px solid #adacac;
  background-color: #adacac;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  transition: all 0.8s;
}
.horizontalTimeline li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #adacac;
  top: 7px;
  left: -50%;
  z-index: -1;
  transition: all 0.8s;
}
h1 { 
    text-align: center;
}
.horizontalTimeline li:first-child:after {
  content: none;
}
.horizontalTimeline li.active:before {
  border-color: #ff0000;
  background-color: #ff0000;
  transition: all 0.8s;
}
.horizontalTimeline li.active:after {
  background-color: #ff0000;
  transition: all 0.8s;
}
.btn {
  background-color: red;
  margin: 5px;
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.btn:hover {
  color: white;
  border: none;
  outline: none;
}
.btn:focus {
  color: white;
  border: none;
  outline: none;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 25em;
}
